{% extends "front/layout.twig" %}
{% block content %}
    <div class="container cart">
        <div class="form">
            <form action="#" method="POST">
                <p class="title">إملأ معلوماتك</p>
                <input type="text" placeholder="الإسم الكامل"/>
                <input type="tel" placeholder="رقم الهاتف"/>
                <input type="text" placeholder="العنوان"/>
                <input type="text" placeholder="المدينة"/>
                <input type="email" placeholder="البريد الإلكتروني"/>

                <div class="submit-btn">
                    <button type="submit">تأكيد الطلبية</button>
                </div>
            </form>
        </div>
        <div class="content">
            <p class="title">مجموع الطلبية<span>({{ cartCounter }})</span></p>
            <hr>
            <div class="products">
                {% for product in products %}
                    <div class="product">
                        <div class="thummbnail">
                            <img src="{{ url.products }}{{product.thumbnail}}">
                        </div>
                        <div class="info">
                            <p class="title">{{ product.name }}</p>
                            <p class="quantity"><span class="label">الكمية:</span>{{ product.quantity }}</p>
                            <p class="price"><span class="label">الثمن:</span>{{ product.price }} درهم</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="total-container">
                <p>مجموع الطلبية :</p>
                <p class="total">{{ total }} درهم</p>
            </div>
        </div>
	</div>
{% endblock %}