{% extends "front/layout.twig" %}
{% block content %}
    <div class="container cart row mt-md-0 mt-4">
        <div class="form col-md-6 col-12 order-md-1 order-2">
            <form
                action="#"
                method="POST"
                class="h-100 d-flex flex-column justify-content-between"
                id="savecommand"
            >
                <div>
                    <p class="title">إملأ معلوماتك</p>
                    <div class="alert" id='phoneAlert' style='display: none;'>المرجوا ادخال رقم هاتف صحيح</div>
                    <input type="text" name="fullname" placeholder="الإسم الكامل"/>
                    <input type="tel" name="phone" placeholder="رقم الهاتف"/>
                    <input type="text" name="city" placeholder="المدينة"/>
                    <input type="text" name="address" placeholder="العنوان"/>
                    <input type="hidden" name="productsIds" value="{{ productsIds }}">
                </div>

                <div class="submit-btn">
                    <button type="submit">تأكيد الطلبية</button>
                </div>
            </form>
        </div>
        <div class="content col-md-6 col-12 order-md-2 order-1">
            <p class="title">مجموع الطلبية<span class="cart-counter">({{ cartCounter }})</span></p>
            <hr>
            <div class="products">
                {% for id,product in products %}
                    <div class="product">
                        <div class="d-flex align-items-center justify-content-center remove-container">
                            <span
                                class="d-flex align-items-center justify-content-center remove"
                                data-product="{{ id }}"
                            >
                                x
                            </span>
                        </div>
                        <div class="info flex-grow-1">
                            <p class="title">{{ product.name }}</p>
                            <p class="quantity"><span class="label">الكمية:</span>{{ product.quantity }}</p>
                            <p class="price"><span class="label">الثمن:</span>{{ product.price }} درهم</p>
                        </div>
                        <div class="thumbnail">
                            <img src="{{ url.products }}{{product.thumbnail}}">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="total-container">
                <p>مجموع الطلبية :</p>
                <p class="total"><span class="amount">{{ total }}</span> درهم</p>
            </div>
        </div>
	</div>
{% endblock %}