{% extends "front/layout.twig" %}
{% block content %}      
<main class="page-wrapper">
   <section  class="owl-carousel owl-carousel2 container hero">
      {% for item in sliders %}
      <div class="slide ">
         <img class="" src="{{url.sliders}}{{item.image}}" alt="slider-image" />
      </div>
      {% endfor %}
   </section>



   {% if options.show_home_video == 'on' %}
   <section class="section video-section">
      <div class="container video-center">
         <div class="app-heading">
            <h3 class="heading-primary">    {{options.home_video_h1}}  </h3>
            <p class="heading-description"> {{options.home_video_h3}}  </p>
         </div>
         
         {{ options.home_video_link|video_framer|raw }}

      </div>
   </section>
   {% endif %}




   <style type="text/css">
   .products-grid {
       margin-bottom: 55px;
   }
   </style>


   <section class="section products-list-section section-I7upaLbva51pYIX2">
      <div class="container">
         <div class="app-heading">
            <h3 class="heading-primary">آخر المنتجات  </h3>
            <p class="heading-description"> آخر المنتوجات المميزة لأسفار </p>
         </div>
         
         {% for row in products|batch(4, 'No item') %}

            <div class="products-grid">
                     
               {% for product in row %}
                  {% if product.thumbnail is defined %}
                     <div class="product-item">
                        <a class="product-thumbnail" href="{{ path_for('website.product',{ id : product.id}) }}">
                           <img src="{{ url.products }}{{product.thumbnail}}">
                        </a>
                        <div class="product-details">
                           <div class="product-info">
                              <h3 class="product-title">
                                 <a href="{{ path_for('website.product',{ id : product.id}) }}">{{ product.name }}</a>
                              </h3>
                              <div class="product-price">
                                 <span class="currency-value before">
                                    <span class="value">{{ product.price }}</span>
                                    <span class="currency">&nbsp;د.م.‏</span>
                                 </span>
                                 <span class="currency-value after">
                                    <span class="value">{{ product.discount }}</span>
                                    <span class="currency">&nbsp;د.م.‏</span>
                                 </span>
                              </div>
                           </div>
                           <div class="product-actions">
                              <a class="button small-button secondary-button order-btn" 
                              href="{{ path_for('website.product',{ id : product.id}) }}">
                              أطلب الآن
                              </a>
                           </div>
                        </div>
                     </div>
                  {% endif %}
               {% endfor %}
            </div>

         {% endfor %}

         </div>
      </div>
   </section>
   {% if options.footer_img == 'on' %}
   <section class="slider-container horizontal medium">
      <div class="slide slide-overlay"> <img src="/uploads/media/{{options.banner_footer}}"  class="desktop-image"> <span class="slider-caption">
      </div>
   </section>
   {% endif %} 
</main>
<!-- App footer -->
{% endblock %}