

{% if admin %}  
<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <div class="sidebar-category sidebar-category-visible mt-15">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                
<li><a href="{{path_for('slider')}}">  <i class='icon-gallery'></i><span>السلايدر</span></a></li>
<li><a href="{{path_for('products')}}"><i class="icon-grid6"></i> قائمة المنتوجات</a></li>
<li><a href="{{path_for('products.categories')}}"> <i class="icon-bag"></i> قائمة التصنيفات</a>
<li><a href="{{path_for('data')}}"><i class="icon-price-tag3"></i> <span>  قائمة الطلبيات  </span></a></li>
<li><a href="{{path_for('settings.index')}}"> <i class="icon-cog"></i> الإعدادت </a>
<li><a href="{{path_for('logout')}}"> <i class="icon-pin"></i> تسجيل الخروج </a>

<li>

</li>

               
                </ul>
            </div>
        </div>
    </div>
</div>
  {% endif %}