{% extends "admin/layout.twig" %}
{% block title %} {{l.productsCreate.260}} {% endblock %}
{% block content %}






<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        {% include "admin/elements/flash.twig" %}
        <form class="form-horizontal" method='POST' action="{{path_for('products.create')}}" enctype="multipart/form-data" >
        <div class="col-md-9">
            <div class="panel panel-flat ">
                <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">{{l.productsCreate.260}}</legend>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.productsCreate.261}}</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="name"  value="{{ old.name }}">
                                </div>
                            </div>
                                                        
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.productsCreate.263}}</label>
                                <div class="col-lg-10">
                                   <textarea rows="5" name="description" id='posteditor' class="form-control" >{{ old.price }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.productsCreate.264}}</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="price" value="{{ old.price }}">
                                </div>
                            </div>
                         
                            
                            
                            
                            <div class="form-group">
                                <label class="control-label col-lg-2"> {{l.productsCreate.265}}</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="discount" value="{{ old.discount }}">
                                </div>
                            </div>
                            
                            
                            
                               
                            <div class="form-group">
                                <label class="control-label col-lg-2">سعر المنتوج الثاني ، اختياري</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="price_2" value="{{ old.price }}">
                                </div>
                            </div>
                            
                         
                             <div class="form-group">
                                <label class="control-label col-lg-2"> إظهار في الرئيسية  </label>
                                <div class="col-lg-10">
                                    <input type="checkbox" class="form-control" name="show_home" >
                                </div>
                            </div>
                            
                               
                             <div class="form-group">
                                <label class="control-label col-lg-2"> اللون    </label>
                                <div class="col-lg-10">
                                    <input type="checkbox" class="form-control" name="color" >
                                </div>
                            </div>
                            
                               
                                 
                             <div class="form-group">
                                <label class="control-label col-lg-2">  المقاس  </label>
                                <div class="col-lg-10">
                                    <input type="checkbox" class="form-control" name="size" >
                                </div>
                            </div>
                            
                        </fieldset>
                        
                    
                </div>
            </div>
            

   </div>
   
   
<div class="col-md-3">
   <button type="submit" class="btn btn-block btn-primary">{{l.productsCreate.266}} <i class="icon-arrow-left13 position-right"></i></button>
   <br>
    <div class="panel panel-white">
        <div class="panel-heading">
        {{l.productsCreate.267}}
        </div>
        <div class="panel-body">
          <div class="preview-thumbnail">
                    <img src="" id="profile_avatar"  />
            </div>
           <label for="ProductThumbnail" class="btn btn-danger btn-rounded"><i class="icon-image2 position-left"></i> {{l.productsCreate.268}} </label>
            <input name="ProductThumbnail" id="ProductThumbnail" accept="image/jpg, image/jpeg, image/png" style="visibility:hidden;" type="file" />
        </div>
    </div>
    
    
     <div class="panel panel-white">
        <div class="panel-heading">
        {{l.productsCreate.269}}
        </div>
        <div class="panel-body">
            

<label for="galleryImages" class="btn btn-danger btn-rounded"><i class="icon-image2 position-left"></i> اختيار الصور  </label>
<input name="galleryImages[]" id="galleryImages" accept="image/jpg, image/jpeg, image/png" style="visibility:hidden;" type="file" multiple />

       
         
        </div>
        		</div>

    
    
    <div class="panel panel-white">
		<div class="panel-heading">
			<h6 class="panel-title"> {{l.productsCreate.271}} </h6>
		</div>

		<div class="panel-body">
			 <select  name="category" style="width:100%;" class="form-control">
                <option value="NOTDEFFINED">{{l.productsCreate.272}}</option>
                {% for categorie in categories %}
                <option value="{{categorie.id}}">{{categorie.name}}</option>
                {% endfor %} 
        </select>
		</div>
	</div>

</div>
</form>
   
   
    </div>
</div>            
 
      
{% endblock %}
