<div class="lx-footer">
   <div class="lx-footer-bottom py-3">
      <div class="lx-footer-bottom-content lx-footer-pages-section">
         <ul class="list-unstyled footer-list">
            <li>
               <a href="{{ path_for('website.contact_us') }}">
               إتصل بنا
               </a>
            </li>
            <li>
               <a href="{{ path_for('website.return_policy') }}">
               سياسة الارجاع
               </a>
            </li>
            <li>
               <a href="{{ path_for('website.confidentiality_policy') }}">
               سياسة الخصوصية
               </a>
            </li>
         </ul>
      </div>
      <div class="lx-footer-bottom-content d-flex">
         <div class="col-md-4 d-flex align-items-center">
            <div class="lx-copyright d-flex align-items-center">
               <p class="mb-0 pb-0">© كل الحقوق محفوظة <a href="javascript:;" style="color: #fff;"></a> 2020.</p>
            </div>
         </div>
         <div class="col-md-8 text-left d-flex align-items-center justify-content-end">
            <ul class="social_list_footer">
               {% if options.twitter_link is not empty %}
               <li><a href="{{options.twitter_link}}"><i class="fab fa-twitter"></i></a></li>
               {% endif %}
               {% if options.instagram_link is not empty %}
               <li><a href="{{options.instagram_link}}"><i class="fab fa-instagram"></i></a></li>
               {% endif %}
               {% if options.youtube_link is not empty %}
               <li><a href="{{options.youtube_link}}"><i class="fab fa-youtube"></i></a></li>
               {% endif %}
               {% if options.fb_link is not empty %}
               <li><a href="{{options.fb_link}}"><i class="fab fa-facebook"></i></a></li>
               {% endif %}
            </ul>
         </div>
         <div class="lx-clear-fix"></div>
      </div>
   </div>
</div>
</div>